body {
  background-color: antiquewhite;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 20px;
  padding: 30px;
  border-color: rgba(137, 43, 226, 0.921);
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  box-shadow: 1px 1px gray;
  text-shadow: 1px 1px ivory;
}

h2 {
  text-align: left;
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px rgba(137, 43, 226, 0.921);
  border-style: solid;
}

main > .ingredients-steps {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 5px;
  overflow: hidden;
}

main > .ingredients-steps > div {
  flex: 1;
  box-sizing: border-box;
}

a:link {
  color: blueviolet;
}

a:hover {
  color: black;
}

a:active {
  color: rgb(189, 43, 226);
}

p {
  text-align: justify;
  font-weight: bold;
  font-style: italic;
}
